<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <%- include('../../head') %>
</head>

<body>
  <%- include('../../nav_Bar') %>
  <div class="page-header page-header-small">
    <div class="page-header-image" data-parallax="true" style="background-image: url('/Image/about_WH.jpg');"></div>
    <div class="content-center">
      <div class="container">
        <h1 class="title">This is our great company</h1>
      </div>
    </div>
  </div>
  <div class="container mb-3">
    <h2 class="mb-3">My Warehouse</h2>
    <table class="board-table table " id="myWH">
      <thead class="thead-dark">
      <tr>
        <th>Warehouse ID</th>
        <th>Warehouse Name</th>
        <th>IoT</th>
        <th>Warehouse Info</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="container mb-3">
    <h2 class="mb-3">Warehouse Enroll Lists</h2>
    <table class="board-table table ">
      <thead class="thead-dark">
      <tr>
        <th>Warehouse ID</th>
        <th>State</th>
        <th></th>
      </tr>
      </thead>
      
    </table>
  </div>
  <div class="overlay"></div>
</body>
</html>
