<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('../head') %>
</head>

<body>
  <div class="wrap">
    <header>
      <%- include('../nav_Bar') %>
        <div class="page-header page-header-small">
          <div class="page-header-image" data-parallax="true" style="background-image: url('/Image/about_WH.jpg');">
          </div>
        </div>
    </header>
    <section>
      <div class="container">
        <h2 class="mt-5 mb-3">How to use Autoinven</h2>
        <div class="btn-help-left">
          <div class="eff-left"></div>
          <a onclick=setDisplay(1)> FAQ </a>
        </div>
        <div class="btn-help-right">
          <div class="eff-right"></div>
          <a onclick=setDisplay(0)> HELP </a>
        </div>
        <div id="faq" class="container">
          <ul id="faq-list" class="list-feature">
            <li>
              <a data-toggle="collapse" class="collapsed" href="#faq1">Update/Delete Users <i
                  class="ion-android-remove"></i></a>
              <div id="faq1" class="collapse" data-parent="#faq-list">
                <p>If you need update/delete for your data, You can edit/delete it in "MYINFO" page.</p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" href="#faq2" class="collapsed">Forgot Email or Password <i
                  class="ion-android-remove"></i></a>
              <div id="faq2" class="collapse" data-parent="#faq-list">
                <p>Please enter your email address and your password will be sent to the email address registered with
                  your
                  account<br>
                  and then you can creat your new password. Or you can send e-mail via service@autoinspec.com</p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" href="#faq3" class="collapsed">Update/Delete Warehouse <i
                  class="ion-android-remove"></i></a>
              <div id="faq3" class="collapse" data-parent="#faq-list">
                <p>If you need update data or find wrong data for your company, You can send to
                  service@autoinven.com<br>
                  We will contact you within 12 hours.</p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" href="#faq4" class="collapsed">How to Pay <i class="ion-android-remove"></i></a>
              <div id="faq4" class="collapse" data-parent="#faq-list">
                <p>AUOTINVEN.com Secure Payment aims to provide a safe payment service for membership.<br>
                  By partnering with an online payment platform (PayPal), AUTOINVEN.com provides payment security to
                  membership.</p>
              </div>
            </li>
          </ul>
        </div>
        <div id="help" class="container" style="display: none">
          <ul id="help-list" class="list-feature">
            <li>
              <a data-toggle="collapse" class="collapsed" href="#help1">Update/Delete Users <i
                  class="ion-android-remove"></i></a>
              <div id="help1" class="collapse" data-parent="#help-list">
                <p>If you need update/delete for your data, You can edit/delete it in "MYINFO" page.</p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" href="#help2" class="collapsed">Forgot Email or Password <i
                  class="ion-android-remove"></i></a>
              <div id="help2" class="collapse" data-parent="#help-list">
                <p>Please enter your email address and your password will be sent to the email address registered with
                  your
                  account<br>
                  and then you can creat your new password. Or you can send e-mail via service@autoinspec.com</p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" href="#help3" class="collapsed">Update/Delete Warehouse <i
                  class="ion-android-remove"></i></a>
              <div id="help3" class="collapse" data-parent="#help-list">
                <p>If you need update data or find wrong data for your company, You can send to
                  service@autoinven.com<br>
                  We will contact you within 12 hours.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <footer>
      <%- include('../footer') %>
    </footer>
  </div>
</body>

</html>

<style>
  .btn-help-left {
    width: 140px;
    height: 50px;
    border: 1px solid #f96332;
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
    float: left;
    text-align: center;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
  }

  .btn-help-left a {
    font-family: arial;
    font-size: 16px;
    color: #f96332;
    text-decoration: none;
    line-height: 50px;
    transition: all .5s ease;
    z-index: 2;
    position: relative;
  }

  .eff-left {
    width: 140px;
    height: 50px;
    top: -2px;
    right: -140px;
    background: #f96332;
    position: absolute;
    transition: all .5s ease;
    z-index: 1;
  }

  .btn-help-left:hover .eff-left {
    right: 0;
  }

  .btn-help-left:hover a {
    color: #fff;
  }

  .btn-help-right {
    width: 140px;
    height: 50px;
    border: 1px solid #f96332;
    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    float: left;
    text-align: center;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
  }

  .btn-help-right a {
    font-family: arial;
    font-size: 16px;
    color: #f96332;
    text-decoration: none;
    line-height: 50px;
    transition: all .5s ease;
    z-index: 2;
    position: relative;
  }

  .eff-right {
    width: 140px;
    height: 50px;
    left: -140px;
    background: #f96332;
    position: absolute;
    transition: all .5s ease;
    z-index: 1;
  }

  .btn-help-right:hover .eff-right {
    left: 0;
  }

  .btn-help-right:hover a {
    color: #fff;
  }
</style>

<script>
  function setDisplay(val) {
    if (val == 1) {//val==1 faq
      $('#faq').show();
      $('#help').hide();
    }
    if (val == 0) {//val==0 help
      $('#faq').hide();
      $('#help').show();
    }
  }

</script>