<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('../head') %>
</head>

<body>
  <div class="wrap">
    <header>
      <%- include('../nav_Bar') %>
        <div class="page-header page-header-small">
          <div class="page-header-image" data-parallax="true" style="background-image: url('/Image/about_WH.jpg');">
          </div>
        </div>
    </header>
    <section>
      <div class="container">
        <h2 class="mt-5 mb-3">How to use Autoinven</h2>
        <div class="helpbtn-left">
          <div class="eff-left"></div>
          <a href="#"> FAQ </a>
        </div>
        <div class="helpbtn-right">
          <div class="eff-right"></div>
          <a href="#"> Help </a>
        </div>
        <div id="help" class="container">
          <ul id="help-list" class="list-feature">
            <li>
              <a data-toggle="collapse" class="collapsed" href="#help1">Update/Delete Users <i
                  class="ion-android-remove"></i></a>
              <div id="help1" class="collapse" data-parent="#help-list">
                <p>If you need update/delete for your data, You can edit/delete it in "MYINFO" page.</p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" href="#help2" class="collapsed">Forgot Email or Password <i
                  class="ion-android-remove"></i></a>
              <div id="help2" class="collapse" data-parent="#help-list">
                <p>Please enter your email address and your password will be sent to the email address registered with
                  your
                  account<br>
                  and then you can creat your new password. Or you can send e-mail via service@autoinspec.com</p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" href="#help3" class="collapsed">Update/Delete Warehouse <i
                  class="ion-android-remove"></i></a>
              <div id="help3" class="collapse" data-parent="#help-list">
                <p>If you need update data or find wrong data for your company, You can send to
                  service@autoinven.com<br>
                  We will contact you within 12 hours.</p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" href="#help4" class="collapsed">How to Pay <i
                  class="ion-android-remove"></i></a>
              <div id="help4" class="collapse" data-parent="#help-list">
                <p>AUOTINVEN.com Secure Payment aims to provide a safe payment service for membership.<br>
                  By partnering with an online payment platform (PayPal), AUTOINVEN.com provides payment security to
                  membership.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <footer>
      <%- include('../footer') %>
    </footer>
  </div>
</body>

</html>

<style>
  .helpbtn-left {
    width: 140px;
    height: 50px;
    border: 2px solid #34495e;
    float: left;
    text-align: center;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
  }

  .helpbtn-left a {
    font-family: arial;
    font-size: 16px;
    color: #34495e;
    text-decoration: none;
    line-height: 50px;
    transition: all .5s ease;
    z-index: 2;
    position: relative;
  }

  .eff-left {
    width: 140px;
    height: 50px;
    top: -2px;
    right: -140px;
    background: #34495e;
    position: absolute;
    transition: all .5s ease;
    z-index: 1;
  }

  .helpbtn-left:hover .eff-left {
    right: 0;
  }

  .helpbtn-left:hover a {
    color: #fff;
  }

  .helpbtn-right {
    width: 140px;
    height: 50px;
    border: 2px solid #34495e;
    float: left;
    text-align: center;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
  }

  .helpbtn-right a {
    font-family: arial;
    font-size: 16px;
    color: #34495e;
    text-decoration: none;
    line-height: 50px;
    transition: all .5s ease;
    z-index: 2;
    position: relative;
  }

  .eff-right {
    width: 140px;
    height: 50px;
    left: -140px;
    background: #34495e;
    position: absolute;
    transition: all .5s ease;
    z-index: 1;
  }

  .helpbtn-right:hover .eff-right {
    left: 0;
  }

  .helpbtn-right:hover a {
    color: #fff;
  }
</style>