<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('../../head') %>
  <script src="https://cdn.rawgit.com/mgalante/jquery.redirect/master/jquery.redirect.js"></script>
</head>

<body>
  <div class="wrap">
    <header>
      <%- include('../../nav_Bar') %>
      <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image: url('/Image/about_WH.jpg');"></div>
      </div>
    </header>
    <section>
      <div class="container">
        <input type="text" class="col-3" id="iotServer" placeholder="ws://localhost:5000">
        <button class="btn btn-info btn-sm" id="btn_test" onclick="adClick('Test')">Test</button>
        <button type="button" class="btn btn-success btn-sm" id="btn_approve" onclick="adClick('Approve')">Approve</button>
        <button type="button" class="btn btn-danger btn-sm" id="btn_reject" onclick="adClick('Reject')">Reject</button>
        <input type="hidden" id="wid" value="<%= wid %>">
      </div>
    </section>
    <footer>
      <%- include('../../footer') %>
    </footer>
  </div>
</body>

<script src="/JS/alerts.js"></script>
<script src="/JS/ad_RequestIoT.js"></script>
</html>
